<h1><%= @title %></h1>

<br><h2><%= @search_bar %></h2></br>
<h2><%= "It's not yet implemented. For now just click on the link below to see a full list of Tutorials" %></h2>
<br><%= link_to "All the tutorials!", tutorials_path %></br>
